In [2]:
import pandas as pd
import numpy as np

In [3]:
movies=pd.read_csv('tmdb_5000_movies.csv')
movies_credits=pd.read_csv('tmdb_5000_credits.csv')

In [4]:
movies.head(3)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466

In [6]:
movies=movies.merge(movies_credits,on='title')

In [8]:
new_movies=movies[['movie_id','title','genres','overview','keywords','cast','crew']]

In [9]:
new_movies.head(5)

,movie_id,title,genres,overview,keywords,cast,crew
0,19995,Avatar,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","In the 22nd century, a paraplegic Marine is di...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","Captain Barbossa, long believed to be dead, ha...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",A cryptic message from Bond’s past sends him o...,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",Following the death of District Attorney Harve...,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","John Carter is a war-weary, former military ca...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [ ]:
new_movies.dropna(inplace=True)

In [ ]:
new_movies['overview']=new_movies['overview'].str.split()

In [12]:
# Extracting the names from the data

In [13]:
import ast
def extract_name(data):
    names_list=[]
    for i in ast.literal_eval(data):
        names_list.append(i['name'])
    return names_list

In [ ]:
new_movies['genres']=new_movies['genres'].apply(extract_name)
new_movies['keywords']=new_movies['keywords'].apply(extract_name)

In [15]:
def extract_name2(data):
    names_list=[]
    counter=0
    for i in ast.literal_eval(data):
        if counter!=3:
            names_list.append(i['name'])
            counter+=1
        else:
            counter=0
            break
    return names_list

In [ ]:
new_movies['cast']=new_movies['cast'].apply(extract_name2)
new_movies['crew']=new_movies['crew'].apply(extract_name2)

In [17]:
# remove the space between the words

In [ ]:
new_movies['cast']=new_movies['cast'].apply(lambda x:[i.replace(" ","") for i in x])
new_movies['crew']=new_movies['crew'].apply(lambda x:[i.replace(" ","") for i in x])
new_movies['genres']=new_movies['genres'].apply(lambda x:[i.replace(" ","") for i in x])
new_movies['keywords']=new_movies['keywords'].apply(lambda x:[i.replace(" ","") for i in x])

In [ ]:
new_movies['tags']=new_movies['overview']+new_movies['genres']+new_movies['keywords']+new_movies['crew']+new_movies['cast']

In [20]:
tags_movies=new_movies[['movie_id','title','tags']]

In [ ]:
tags_movies['tags']=tags_movies['tags'].apply(lambda x:" ".join(x))

In [ ]:
tags_movies['tags']=tags_movies['tags'].apply(lambda x:x.lower())

In [23]:
from sklearn.feature_extraction.text import CountVectorizer

In [24]:
cv=CountVectorizer(max_features=5000,stop_words='english')
vectors=cv.fit_transform(tags_movies['tags']).toarray()

In [25]:
cv.get_feature_names_out()

array(['000', '007', '10', ..., 'zone', 'zoo', 'zooeydeschanel'],
      shape=(5000,), dtype=object)

In [26]:
# getting the common words from nltk porterstemmer like ex:loved=love ,loves=love

In [27]:
import nltk
from nltk.stem.porter import PorterStemmer

In [28]:
ps=PorterStemmer()

In [29]:
def stem(text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))
    return ' '.join(y)

In [ ]:
tags_movies['tags']=tags_movies['tags'].apply(stem)

In [31]:
# calculating the similarity distance between vectors using cosine similarity

In [32]:
from sklearn.metrics.pairwise import cosine_similarity

In [49]:
similarity=cosine_similarity(vectors)

In [ ]:
#accesing index

In [34]:
tags_movies[tags_movies['title']=='Avatar'].index[0]

np.int64(0)

In [ ]:
# apply enumerate funtion to create index for similarity distance which make easy to sort

In [ ]:
sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x:x[1])

In [ ]:
#funtion for recomender

In [109]:
def recomend(movie):
    movie_list=[]
    movie_index=tags_movies[tags_movies['title']==movie].index[0]
    distance=sorted(list(enumerate(similarity[movie_index])),reverse=True,key=lambda x:x[1])
    for i in distance[1:6]:
        print(tags_movies.iloc[i[0]].title)

In [110]:
recomend('Batman Begins')

The Dark Knight
The Dark Knight Rises
Batman
Batman & Robin
Batman

In [103]:
tags_movies.head(5)

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a parapleg marin is dispa..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believ to be dead, ha c..."
2,206647,Spectre,a cryptic messag from bond’ past send him on a...
3,49026,The Dark Knight Rises,follow the death of district attorney harvey d...
4,49529,John Carter,"john carter is a war-weary, former militari ca..."

In [61]:
val=sorted(similarity[0],reverse=True)

In [89]:
tags_movies[tags_movies.index==0]

   movie_id   title                                               tags
0     19995  Avatar  in the 22nd century, a parapleg marin is dispa...

In [112]:
import pickle
with open('movies.pkl', 'wb') as f:
    pickle.dump(tags_movies, f)

In [113]:
with open('similarity.pkl', 'wb') as f:
    pickle.dump(similarity, f)